[2019-08-30 14:37] matklad opened #1 "FYI: I've extracted the lsp-server boilerplate from rust-analyzer to a separate crate"
https://github.com/rust-analyzer/lsp-server

https://crates.io/crates/lsp-server

No docs or anything yet :)

[2019-08-30 15:26] jD91mZM2 commented on #1
Looks amazing, thanks! Here I was recently thinking "what happened to that gen_lsp_server thingy? should i switch to that"...

[2019-08-30 16:03] jD91mZM2 commented on #1
What's the point of creating a thread for stdout and stdin and communicate over crossbeam instead of reading them directly?

[2019-08-30 16:13] matklad commented on #1
So that one can write tests that doesn’t do IO

[2019-08-31 05:40] jD91mZM2 commented on #1
On the `wip` branch I have migrated to this library :)

[2019-08-31 05:40] #1 closed

[2019-08-31 11:02] zimbatm opened #3 "Usage instructions?"
What is the best way to test this project out?

### vim

I found https://github.com/prabirshrestha/vim-lsp , maybe there are other LSP plugins out there.

Need to test this config:
[code]

[2019-08-31 11:49] jD91mZM2 commented on #3
Do you want me to add these to the README, or should this be a place for anybody to submit their own instructions for various editors?

### NeoVim

LanguageClient-neovim: https://github.com/autozimu/LanguageClient-neovim

[code]

- [My old dotfiles, might be outdated](https://gitlab.com/jD91mZM2/dotfiles/blob/96663e931ee4be7bce635ac3479de625ae231ba7/home/.config/nvim/init.vim#L111-116)

### Emacs

[2019-08-31 12:26] zimbatm commented on #3
the README will need to be updated at some point. maybe once the project is reaching beta maturity.

[2019-09-02 09:07] matklad commented on #1
See also futures-based https://crates.io/crates/tower-lsp, which chooses pretty different tradeoffs.

[2020-01-01 00:48] prabirshrestha commented on #3
Also feel free to send the PR to https://github.com/mattn/vim-lsp-settings to automate installation of the language servers.

[2020-01-01 00:49] prabirshrestha opened #4 "successful response shouldn't return error object"
[code]

More info about this at https://github.com/prabirshrestha/vim-lsp/issues/640#issuecomment-570010453

// cc @dasJ who filed the issue on [vim-lsp](https://github.com/prabirshrestha/vim-lsp)

[2020-01-01 11:09] jD91mZM2 commented on #4
Turns out I have this fixed by https://github.com/nix-community/rnix-lsp/pull/2, I just forgot all about that PR :P

[2020-01-12 08:48] jD91mZM2 commented on #4
I think this is fixed now :)

[2020-01-12 08:48] #4 closed

[2020-01-12 09:15] jD91mZM2 commented on #3
README updated. @zimbatm are there any plans to publish an early version of nixpkgs-fmt soon? I kind of feel like getting version 0.1.0 of rnix-lsp to crates.io :)

[2020-01-12 09:35] zimbatm commented on #3
@jD91mZM2 done :) https://crates.io/crates/nixpkgs-fmt

[2020-07-22 23:01] blaggacao commented on #3
The one for kakoune:

`~/.config/kak-lsp/kak-lsp.toml`

[code]

[2020-07-22 23:15] blaggacao opened #10 "[question] autocompletion"
Is `rnix-lsp` actually  supposed to autocomplete from `<nixpkgs>` (`$NIX_PATH`) imports?

If so I have it mis-configured. If not, why?

[2020-07-25 09:29] jD91mZM2 commented on #10
It's not supposed to, because I'm lazy. Feel free to send a PR.

[2020-07-25 14:46] #10 closed

[2020-07-25 14:59] blaggacao commented on #10
Any effort might suffer better leverage when implementing a general available flake soecification.

[2020-11-23 14:22] flokli opened #15 "flake.nix refers to a non-existent source"
I'm using rnix-lsp inside my home manager configuration:

[code]

This seems to have become broken, because the commit in the NUR repository `flake.nix` is referring to doesn't exist (anymore?):

[code]

I'm not sure how why this started happening now. `nix/sources.json` also seems to exist, but points to another NUR, which apparently is unused.

[2020-11-24 18:05] jD91mZM2 commented on #15
It's because I renamed the GitLab repository and apparently they don't set up redirects when you rename them, like GitHub does. We apparently also point to NUR in here to access nixpkgs-mozilla, which we could have done directly.

I'll update #14 and merge that, that'll fix things

[2020-11-24 18:13] jD91mZM2 commented on #15
Should be fixed now, and you can also build rnix-lsp using nix flakes again if you're using that feature

[2020-11-24 18:17] flokli commented on #15
I updated the rev to latest master, but now the contract broke, as `default.nix` is not a function anymore, but a set (so I removed the `{}` after the `(import (pkgs.fetchFromGitHub { … }))`.

I can of course remove this, but I wonder if some documentation should be updated, and if this is intentional.

[2020-11-24 18:49] jD91mZM2 commented on #15
It used to be a function? I'm sorry for being oblivious, I haven't touched rnix-lsp in a while... What arguments did it take?

[2020-11-24 19:15] flokli commented on #15
See my snippet from above - I called it with an empty attribute set.

[2020-11-25 19:28] jD91mZM2 commented on #15
Yeah alright so it was probably a pointless argument. Thanks for pointing it out, but I think I'll just let it be a breaking change, Nix keeps track of dependencies well enough anyway it's no biggie I think

[2020-11-25 19:28] #15 closed

[2020-11-27 11:20] andir opened #16 "Please pin flake compat"
Please pin the flake compat that is being fetched. This against everything we are doing with Nix. We want explicit build graphs and not random binaries from the internet.

https://github.com/nix-community/rnix-lsp/blob/a9cbcb4f2719cc11180e9d6ce2b6518d81552b9d/default.nix#L1

[2020-12-03 18:05] jD91mZM2 commented on #16
You're right. PR pls?

[2020-12-04 21:29] #16 closed

[2020-12-05 06:08] poscat0x04 opened #19 "VSCode extension?"

[2020-12-23 18:55] jnoortheen commented on #19
added support https://github.com/nix-community/vscode-nix-ide/issues/10 since v0.1.6

[2021-02-08 07:52] breuerfelix opened #25 "is this how it should work?"
Hey! glad i stumbled on this repo :) configured it with neovim nightly and builtin lsp.
this is how it looks:
![image](https://user-images.githubusercontent.com/36931468/107190058-9bacf800-69ea-11eb-8365-0e2261d718f8.png)

at least i get an error message but it is always formatted like this. "error node at ....".
Is there a way to turn on more specific error messages ? or is this currently the onl

[2021-02-15 14:39] jD91mZM2 commented on #25
Unfortunately, this is the only type of error message we have currently. Not sure why I haven't fixed it yet, but I think rnix-parser saves enough information. It could probably be tweaked fairly easily to [support more error types here](https://github.com/nix-community/rnix-lsp/blob/0a86e5b95ce4d8173fdc164c95dc5238b1d9a99e/src/main.rs#L378-L385)

[2021-02-15 20:11] jD91mZM2 commented on #25
Ended up having to bump a long chain of dependencies, but pull requests have been filed and things are in motion. You can compile the [`bump-rnix` branch](https://github.com/nix-community/rnix-lsp/tree/bump-rnix) and run it to get somewhat more interesting error messages

[2021-02-17 07:15] breuerfelix commented on #25
i would love to test and give some feedback! BUT ... i am farily new to nixos, wenn i know that i would have to solve this with an overlay but i never wrote an overlay that compiles a package from scratch with a specify branch :D

do you have some overlay config to get me going here ?

[2021-02-17 16:05] wiktorkuchta commented on #25
I'm also a noob, but I think that you won't easily build&install the `bump-rnix` branch with Nix because the flake files on this branch haven't been updated. If you just want the binary, build it with `cargo` (`nix-shell` should provide it to you).

[2021-02-17 18:47] jD91mZM2 commented on #25
Yeah the flake is broken right now, not sure if [`naersk`](https://github.com/nmattia/naersk) has problems with git dependencies or patches, or if I just borked something.

[2021-02-18 06:47] breuerfelix commented on #25
finally i installed the branch with cargo and pointed my coc-vim to the binary (i have ditched neovim nightly lsp since at this stage it is not as good as coc ... too much error and mistages i had to solve at work) and it is amazing!

way better error message :) would love to have this merged! also i would love to contribute to add more to it but i really have to dig into this. maybe i will find s

[2021-03-23 05:33] aaronjanse opened #31 "[feature request] nixpkgs goto definition"
It would be cool to be able to "goto definition" for packages and maybe even goto for nixos options. This might require that the edited expression is a Nix Flake.

I have a break from university this week, so I'm willing to put a lot of effort into implementing this. I thought it would be good to document the feature request here in case there's a huge roadblock I'm missing etc, if the implementat

[2021-03-24 14:51] Ma27 commented on #31
@aaronjanse I guess it may be somehow possible to use the logic from e.g. builtins.unsafeGetAttrPos.

[2021-03-25 11:34] 573 opened #32 "QUESTION: How to bypass cargoSha256 ?"
I'm trying to override the version of rnix-lsp being used via overlay. I want the [bump-rnix](https://github.com/nix-community/rnix-lsp/tree/bump-rnix) branch.

I tried with several variations of this overlay:
[code]

as well as:
[code]

but just can't get it to work.

What should I do ?

Probably related https://github.com/NixOS/nixpkgs/issues/107070

[2021-03-25 12:05] 573 commented on #32
Overlay [has to be](https://discourse.nixos.org/t/is-it-possible-to-override-cargosha256-in-buildrustpackage/4393/4) this:
[code]

[2021-03-25 12:05] #32 closed

[2021-03-25 12:20] 573 commented on #25
just for reference this is how you can use the branch: https://github.com/nix-community/rnix-lsp/issues/32#issuecomment-806611737

[2021-03-25 14:48] tami5 commented on #32
I was looking todo that the last few days but couldn't make it work :laughing: . Can I define that overlay within the same file where I install lsp servers. Like what to do exchange super with, pkgs?

[2021-03-26 08:48] 573 commented on #32
@tami5 it depends on how you [use overlays](https://nixos.wiki/wiki/Overlays).
Personally I am using home-manager to manage most of my package installations, i. e. the `rnix-lsp` package. And for overlays I am using the folder ` ~/.config/nixpkgs/overlays` on my system. In this folder I collect i. e. mentioned [rnix-lsp.nix overlay definition file](https://github.com/nix-community/rnix-lsp/issues/

[2021-03-29 14:22] ony opened #33 "Consuming 30G when used via noevim coc"
Hello,

I had two incidents already when with `rnix-lsp` consumed almost all RAM.
It is interesting that in both cases I had in parallel other terminal running `nix repl` while editing `home.nix` (home-manager) with error syntax error.

[code]

[code]

[2021-05-28 15:07] remimimimi opened #39 "What happened with maintainer?"
From time to time I watch for updates in the development of nix lsp, but since March the maintainer has been inactive. Has something happened with him?

[2021-06-12 20:21] aaronjanse commented on #39
https://www.redox-os.org/news/open-source-mental-health/

[2021-06-13 13:12] domenkozar commented on #39
He will be missed. There are no words to describe such events :(

I'm going to close this issue.

[2021-06-13 13:12] #39 closed

[2021-06-14 08:49] zimbatm commented on #39
The best hommage is to keep his work alive. The project will have a new maintainer this week.

[2021-06-19 01:30] aaronjanse opened #41 "Possible features and ideas"
Here's are some informal ideas for things that we might want in rnix-lsp, some of which would be possible via evaluation. Feel free to add to this list:

- [ ] hover over an expression to view its value
- [ ] hover over a variable name to see documentation, extracted from comments nearby the variable's definition
- [ ] auto-complete for variable names, even within `with` statements
- [ ] goto-defi

[2021-06-19 01:30] aaronjanse commented on #31
Replaced by https://github.com/nix-community/rnix-lsp/issues/41

[2021-06-19 01:30] #31 closed

[2021-06-19 18:12] Ma27 commented on #41
I think we should also make a plan when/what to release:

* I'm not sure how much has changed since 0.1.0 (I'm using git revs of this repo locally), but I'm planning to take another look at #33 soon (perhaps it's completely gone with #37, but I'm not sure) and would suggest to create a release then (depending on how much has changed, either 0.1.1 or 0.2.0).
* With a basic evaluator we probably wan

[2021-06-30 19:54] aaronjanse opened #42 "Incremental edit handler not detecting edits at end of file"
Steps to reproduce:
1. Add `error!` logging to print the `content` calculated by the incremental edit handler
1. Create a file with just `1 + 2`
2. Delete all the text in the file (ctrl-a, backspace)
3. Write `3 + 4`
4. Observe that no matter what we type, the incremental edit handler returns an empty string

This can also be reproduced by appending any file with a newline followed by new text. Th

[2021-06-30 19:57] Ma27 commented on #42
Ouch, thanks for the report and the summary! I'll try to take a look soon. Also, I'll try to add a test-suite here as I'm a little bit afraid atm to get regressions I've already seen when experimenting with this.

[2021-07-05 07:46] Ma27 commented on #33
There's a certain chance that this got fixed in #37, but I really want to look at this before getting a 0.2.0 out.

[2021-07-05 07:48] Ma27 commented on #19
From my understanding this isn't a problem anymore as it got fixed in nix-community/vscode-nix-ide#10. In case I'm wrong, please ping me or reopen this!

[2021-07-05 07:48] #19 closed

[2021-07-05 07:53] Ma27 commented on #41
As discussed with @aaronjanse via DM, we'll proceed here like this:

* [0.2.0](https://github.com/nix-community/rnix-lsp/milestone/1) will be released when we've stabilized `master`. I think there are a few new useful features on it, but unfortunately a few issues (i.e. issues added to this milestone). When we're done here, we can release 0.2.0
* [0.3.0](https://github.com/nix-community/rnix-lsp/m

[2021-07-05 07:54] Ma27 commented on #3
AFAICS all configs that are shown here were added to the README. To me this currently seems sufficiently answered (please ping me if I'm wrong!).

Also, if somebody wants to share their editor-config with a different integration, feel free to open a PR :)

[2021-07-05 07:54] #3 closed

[2021-07-05 07:59] Ma27 commented on #25
This seems to be fixed on `master` and will be part of `0.2.0`.

(If I missed something, please ping me!)

[2021-07-05 07:59] #25 closed

[2021-07-08 20:15] fufexan opened #47 "Difference in formatting compared to `nixpkgs-fmt`"
As far as I understand, `rnix-lsp` uses `nixpkgs-fmt` for formatting (on write). However, I get different outputs when I save a nix file in my editor vs when I manually run `nixpkgs-fmt` over a dir/file.

The most notable example is:
nixpkgs-fmt | rnix-lsp
---|---
`[ ] { }` | `[] {}`

Is there a way to configure `rnix-lsp`'s formatting options or is there some other issue at hand?

[2021-07-08 20:18] Ma27 commented on #47
Which version of `rnix-lsp` do you use? 0.1.0 or `master` (soon 0.2.0)? If you're on 0.1.0 it's most likely due to the fact that it uses an older version of `nixpkgs-fmt`.

At least I cannot reproduce this on my neovim 0.5.0 with latest master of `rnix-lsp`. The other option would be that some autoformatting of your editor interferes with what `rnix-lsp` does.

[2021-07-08 20:19] fufexan commented on #47
It seems that indeed I am using 0.1.0. Thanks for telling me, I'll update it manually.

[2021-07-08 20:19] #47 closed

[2021-07-18 21:37] #42 closed

[2021-07-19 06:33] ony commented on #33
I was not able to reproduce issue for past 2 days (effective run-time ~7 minutes). I tried keeping `all-packages.nix` open and tried putting `rec` and do some auto-completion. During open it was taking ~16M and after completion ~32M with grow to ~33M over time, but later went down to ~31.7M. Virtual memory/space is ~160M.
In first hour I tried latest commit. But after seeing no issues switched to

[2021-07-20 15:56] Ma27 commented on #33
THanks a lot for reporting back! In case you stumble upon this again, please let us know! I'll leave this open for another two weeks to see if you, me or somebody else can reproduce this.

[2021-07-25 17:39] fufexan commented on #33
I've had this same problem, but it seems like the incremental expression-updates commit has fixed it. Thanks!

[2021-07-26 17:25] Ma27 commented on #33
In case somebody *still* stumbles upon the issue on a recent `master` of `rnix-lsp`: it would be really awesome if you could share a coredump of the process then, because I'd really like to look at the memory itself then.

One (hacky, I guess?) way to do this is to kill `rnix-lsp` via `kill -11` (to "simulate" a SIGSEGV) which usually causes the creation of a coredump.

[2021-07-29 12:13] Ma27 commented on #33
Damn it, I just experienced this again :/ Unfortunately my kernel was faster with OOMing rnix-lsp than I could `kill -11` it to get a coredump. Luckily I'm write rather much Nix code currently, so hopefully I'll be faster next time.

[2021-07-31 16:07] ony commented on #33
Any chance to instrument some memory debugging into `rnix-lsp` itself?
E.g. force memory limit to 4GB and handle `ENOMEM` with `SIGABRT`-ing self.

@Ma27 , any chance that it happened for you on Nix 2.3.x?

[2021-07-31 16:09] Ma27 commented on #33
Good idea :)

Nope, Nix 2.4

[2021-08-16 14:29] fufexan commented on #33
@Ma27 I have finally managed to catch it before freezing my PC. Here's a screenshot of the coredump as my terminal somehow got messed up and I couldn't copy the text from it.
![rnix-dump](https://user-images.githubusercontent.com/36706276/129579717-5a5d148f-e575-4ca4-bd2e-78bc922f4656.png)

The circumstances are: I was editing a `fetchFromGitHub` call that used `lib.fakeHash` and modifying the `sh

[2021-08-16 14:35] Ma27 commented on #33
Can you still access the core file? That one would be quite helpful! :)

[2021-08-16 14:39] fufexan commented on #33
I'm not sure whether you mean the coredump file (I don't know where it's located), but this is the nix file that caused it to leak. https://gist.github.com/fufexan/61244c3949ec631d6f1483bbbc682b61

[2021-08-16 14:41] Ma27 commented on #33
@fufexan are you on NixOS? In that case `coredumpctl gdb` should give you the answer (the `Storage`-property).

[2021-08-16 14:43] fufexan commented on #33
I have found it. https://gofile.io/d/WJElaV

[2021-08-16 16:21] Ma27 commented on #33
@fufexan one last question: do you have a custom overlay for your `rnix-lsp`? Or from which nixpkgs revision (`nixos-version` should help) did you build it from?

[2021-08-16 17:16] fufexan commented on #33
@Ma27 I'm using the flake in this repo along with `nixpkgs-unstable` (21.11.20210729.dd98b10).

[2021-08-31 21:46] Ma27 commented on #33
@ony @fufexan there's now #49 which contains a few dependency updates (including a fix for crossbeam which resolves a severe memory leak in their code). Since I still cannot reproduce the bug reliably (although I get bitten by it occasionally), this is only a theory, unfortunately.

In order to find out whether this is an actual fix, it'd be really awesome if you could also test this PR :)

[2021-09-01 11:20] fufexan commented on #33
@Ma27 tried building it, but it failed. Here's the build log https://gist.github.com/fufexan/f82d75bae6cfcfb95f984bb92b07ebc4.

[2021-09-01 11:39] Ma27 commented on #33
You'll need at least cargo+rustc 1.52 (should be on available nixos 21.05).

[2021-09-01 11:41] fufexan commented on #33
I'm on unstable from a week ago, I think it should work even with that.

[2021-09-01 11:49] Ma27 commented on #33
Your log says `[naersk] cargo_version (read): 1.47.0` though. Not sure why, though. Locally, it appears to use the correct versions for the build.

[2021-09-01 14:27] fufexan commented on #33
Manually overriding `rnix-lsp`'s `naersk` input with an updated one made it work.

[2021-09-02 09:56] fufexan commented on #33
I use Kakoune, Neovim and Emacs :smile:
So far I've managed to trigger the leak with `kak` and `nvim`, as I haven't used `emacs` extensively.
My configs are [here](https://github.com/fufexan/dotfiles/tree/main/home/editors).

[2021-09-11 17:39] nrdxp commented on #41
We may be able to use something from [lf-/nix-doc](https://github.com/lf-/nix-doc) for the documentation hovering.

[2021-09-11 20:31] Ma27 commented on #41
That's a nice idea, will keep that in mind when we get to it, thanks! :)

[2021-09-15 19:49] Kranzes commented on #41
I was considering updating rnix-lsp on nixpkgs to the latest commit because 0.1.0 is over a year old now, @Ma27 do you think 0.2.0 is close enough to be released for me to wait and update to that instead of using the latest commit of the master branch?

[2021-09-15 21:11] Ma27 commented on #41
@Kranzes there's still #33 open. While I have a hard time reproducing this (I encountered it twice in the last ~75 days), others experience it rather regularly, unfortunately. It doesn't mean I've given up though, however I'm currently lacking time & energy to investigate it more thoroughly, so in case you're affected by this as well, you'd have to be patient a little bit.

Apart from that, `maste

[2021-09-19 13:14] Ma27 commented on #33
-> https://github.com/nix-community/rnix-parser/pull/31/files

Big thanks to @fufexan for helping me to reproduce this! Feel free to remind me on the next in-person NixCon (or something similar) that I owe you a beverage of your choice :)

[2021-09-20 00:20] aaronjanse commented on #41
Thank you to @Ma27 and @fufexan for figuring out how to reproduce & possibly fix the memory leak: https://github.com/nix-community/rnix-parser/pull/31.

If the crash goes away after merging that PR, I think it would make sense to tag a 0.2.0 release then update nixpkgs

[2021-09-23 12:14] #33 closed

[2021-10-17 06:47] aaronjanse commented on #41
Another idea: in the expression `with pkgs; [ htop ]`, should selecting `htop` show some annotation on `pkgs`, since that's why `htop` is in scope?

[2021-10-17 07:56] Ma27 commented on #41
I still remember quite a few occasions where nested `with` led to a fair share of confusion, so I'm all for it :+1:

[2021-10-18 07:16] peterbecich opened #60 "Possible error in `test_provide_builtins`?"
### Describe the bug

There may be a failing test:

[code]

### Steps to reproduce

Steps to reproduce the behavior:
1. On Mac OS Big Sur `nix-env -i -f https://github.com/nix-community/rnix-lsp/archive/master.tar.gz`

I don't know if this occurs on Linux, but can test tomorrow.

* Version of **rnix-lsp:** attempting to install 0.2.1
* Name and version of the editor you've used: Emacs
* Operating

[2021-10-18 08:13] Ma27 commented on #60
This is most likely because this testcase explicitly requires `nixUnstable`, however this is part of the `checkInputs`. I'm not a Mac user, but IIRC this doesn't have a sandbox which could cause issues, correct?

Would you mind checking which Nix is in use by cloning this repo and adding `preCheck = "${pkgs.which}/bin/which nix";` to the derivation in flake.nix and share the result? :)

[2021-10-30 01:17] peterbecich commented on #60
Thanks

I'm unable to run the `preCheck` because the error preempts this.

I have upgraded `nix` https://search.nixos.org/packages?channel=unstable&show=nix_2_4&from=0&size=50&sort=relevance&type=packages&query=nix

and now have
[code]

[2021-10-30 06:45] peterbecich commented on #60
Interestingly, the Mac OS test here https://github.com/nix-community/rnix-lsp/pull/61 succeeds:
[code]

[2021-10-30 15:39] figsoda commented on #41
some code actions would be nice, here are some that I can think of:
- prefetch hash of `fetch*` functions
- `with` to `let inherit`
- inline `let` variables
- `foo.bar` to `let inherit (foo) bar; in bar`
- move a block of code into `let in`
- move a block of code to a separate file
- `{ foo, bar }:` ⟷ `foo: bar:`
- `lib.optional` ⟷ `lib.optionals`
- convert between types of hashes
- `inherit (foo)

[2021-10-31 03:36] aaronjanse commented on #41
Whoa, these ideas are so cool! Thank you so much @figsoda!

I especially love the idea of rnix-lsp helping fill in sha256 hashes. That would significantly improve my workflow while using Nix.

[2021-10-31 03:39] aaronjanse commented on #60
Later this weekend I'll try to see if it's possible to make the error message more helpful when nixUnstable is not found

[2021-11-01 19:36] peterbecich commented on #60
Thanks!

[2021-11-04 15:51] NobbZ opened #62 "on very large files emacs becomes unresponsive"
### Describe the bug

Emacs becomes unresponsive when large files are opened.

### Steps to reproduce

Steps to reproduce the behavior:
1. Open `pkgs/top-level/all-packages.nix` with the rnix lsp enabled

### Expected behavior

Emacs remains responsive

### Additional context

* Version of **rnix-lsp:** built from master, commit a2d06d2d2910cbe35b4f323a54ef484f51d71e20
* Name and version of the ed

[2021-11-05 06:33] aaronjanse commented on #62
Thank you for the Nix expression! :-)

That'll make things much easier to reproduce, since this seems to be working for me without an issue in my dev environment

[2021-11-05 07:17] NobbZ commented on #62
I just checked HTOP, and it seems as if just emacs is going to hog a single CPU, the LSP though doesn't appear to consume any mentionable resources… Its there at 0.1% CPU and ~20k of RES memory.

Though if I manage to kill the LSP using `M-x lsp-workspace-shutdown RET` emacs becomes responsive again and I can browse the file and operate emacs normally.

If I temporarily blacklist my local nixpkgs

[2021-11-07 19:30] kira-bruneau commented on #62
I've definitely noticed a slowdown since the change that adds links on paths, I'm not sure if that's related?

[2021-11-12 16:48] Ma27 commented on #62
Not an emacs expert, but it seems as if the issue can be mitigated by declaring e.g. `(setq lsp-idle-delay 0.500)` (see https://emacs-lsp.github.io/lsp-mode/page/performance/). Would you mind checking if that's the case?

As a next step I'd try to narrow down what the actual problem is (though the link-path thing is rather likely then) and evaluate possible solution (such as only evaluating a subs

[2021-11-15 12:03] Ma27 commented on #60
What's the status here?

[2021-11-16 20:00] aaronjanse commented on #41
Would it make sense to provide hard-coded builtins docs for when nix-unstable is not found?

[2021-11-16 20:02] aaronjanse commented on #60
I ended up getting distracted by evaluation + parsing. If anyone else wants to work on a helpful error message, feel free to do so

[2021-11-16 20:04] nrdxp commented on #41
once NixOS/nix#5527 is fleshed out, it should be a lot easier (hopefully) to show documentation on arbitrary functors as well :crossed_fingers:

[2021-11-16 22:22] peterbecich commented on #60
I've bypassed the error by removing the test:
```fn test_provide_builtins() { ...```
and installing `rnix-lsp` from source:
`nix-env -i -f .`

Thanks

[2021-11-17 00:32] aaronjanse opened #68 "Excessive hover info?"
Right now, hovering over any whitespace or comments in an attribute set shows the value of the entire set. This is great for small sets, but it might be unwanted for large ones (e.g. nixos modules).

I guess my question is: when is it appropriate to show the value of an expression when hovering?

[2021-11-17 00:32] aaronjanse commented on #68
I had the wrong repo open while creating this issue, so I've transferred it here from rnix-parser :facepalm:

[2021-11-28 17:20] flurie commented on #62
I've been having this issue on macOS as well. I've taken to editing `all-packages.nix` in vim as a stopgap.

Setting `lsp-idle-delay` to `0.5` does not seem to mitigate the issue enough to make it usable with `all-packages.nix`.

[2021-12-11 18:59] DieracDelta opened #71 "aarch64-darwin support"
`rnix-lsp` does not build for `aarch64-darwin`. This is being caused for two reasons:
- `nixUnstable` in 21.05 right now is broken on nixpkgs for `aarch64-darwin`.
- The pinned `naersk` does not have an `aarch64-darwin` output.

`nixUnstable` can be fixed to build for `aarch64-darwin` by disabling a test on `aarch64-darwin`. This is already merged into nixpkgs master but it hasn't been backported.

[2021-12-19 17:07] Ma27 commented on #68
I think it'd be a bit harsh if we only show the attr-set when hovering on the closing/opening bracket in an expression like

[code]

Would it make sense to show an even shorter summary when hovering over comments (or at least whitespace)? Because I can imagine that it's useful to see what "context" you're in when editing lines in a large attr-set, however I'm not much into UX, so I'm not sure :)

[2021-12-27 09:57] NobbZ opened #74 "Flake currently broken?"
### Describe the bug

When trying to run the LSP from flake, it produces some attribute missing error.

### Steps to reproduce

[code]

### Expected behavior

The LSP starts.

### Screenshots

### Additional context

* Version of **rnix-lsp:** master branch, tried for 2 days, though not close to a computer powerful enough to bisect.
* Name and version of the editor you've used: none
* Operating sy

[2021-12-27 10:02] Ma27 commented on #74
Which rev are you on? Which Nix version do you use?

For me this seems to work fine with Nix 2.4:

[code]

[2021-12-27 10:33] NobbZ commented on #74
Hmmm. I haven't considered the nix version being an issue, as other things work with `nix run`.

[code]

[2021-12-27 12:52] Ma27 commented on #74
Just compiled Nix at `af553b20902b8b8efbccab5f880879b09e95eb32`, still getting no error though:

[code]

A trace would be helpful indeed, isn't `--show-trace` sufficient?

[2021-12-27 13:45] NobbZ commented on #74
It's sufficient, though copy and paste capabilities are limited using juice SSH

[2021-12-28 22:32] NobbZ commented on #74
I was able to get my hands on a proper laptop:

[code]

[2021-12-29 00:14] NobbZ commented on #74
I'm wondering if this might be directly or indirectly related to NixOS/nix#5609?

When I tried for the last time `nixpkgs` was pinned to https://github.com/NixOS/nixpkgs/tree/cb372c3b8880e504b06946e8fb2ca9777c685505.

[code]

I'm fine with trying different pinned commits of nixpkgs to see whether or not this changes anything. Can you suggest some?

[2022-01-06 19:23] lilyball commented on #60
I'm getting this issue locally. Interestingly, cache.nixos.org has a binary artifact available for rnix-lsp on aarch64-apple-darwin but not x86_64-apple-darwin (as of https://github.com/NixOS/nixpkgs/commit/5c37ad87222cfc1ec36d6cd1364514a9efc2f7f2), so hydra must be building it on M1 somehow.

[2022-01-06 20:04] lilyball opened #75 "`test_provide_builtins` failing on macOS when matching against `nix --version` output"
### Describe the bug

Building rnix-lsp v0.2.3 against recent nixpkgs (NixOS/nixpkgs@77fda7f672726e1a95c8cd200f27bccfc86c870b) on macOS fails with

[code]

It looks like it's failing to run a regex on the `nix --version` output:

https://github.com/nix-community/rnix-lsp/blob/1665bc6fe012c3cddde8ba03177cf3143f210d4a/src/lookup.rs#L174-L185

Interestingly, cache.nixos.org has binary artifacts for i

[2022-01-06 22:08] lilyball commented on #75
I can't reproduce this in a `nix develop` shell or with `nix-shell`. If I patch the source to print the `nix --version` output and run that through `nix build` I get `v = ""`.

[2022-01-06 22:13] lilyball commented on #75
Here's the whole `nixver` result struct, which is quite interesting:

[code]

[2022-01-06 22:26] lilyball commented on #75
If this is a sandboxing issue, that explains why it doesn't reproduce in `nix develop` or `nix-shell`. What I don't get is why this still occurs with `nix --no-sandbox build`. Or why `nix` is attempting to get the file metadata of `/System/Library/LaunchDaemons/com.apple.oahd.plist`.

[2022-01-07 02:02] lilyball commented on #75
I filed https://github.com/NixOS/nix/issues/5884 about `nix --version` failing in the macOS sandbox.

[2022-01-17 22:37] aaronjanse commented on #71
@Ma27 Disabling the test and bumping versions sounds worthwhile for me. Should I make a PR to do so?

[2022-01-17 22:54] Ma27 commented on #74
@NobbZ is there anything actionable for us to do?

[2022-01-17 22:56] Ma27 commented on #71
AFAICS @DieracDelta only had to bump a few inputs, correct? We should switch to 21.11 anyways since 21.05 is dead.

[2022-01-17 23:26] NobbZ commented on #74
I'm not really sure currently. It seems as if I am the only one having this problem.

I'd say let's close for now.

[2022-01-17 23:29] #74 closed

[2022-01-24 18:14] RaitoBezarius commented on #41
Hi there, I _really really_ think that the LSP idea is a very needed tool in the Nix community, esp. the sha256 autofill hash stuff and autocompletion with docs.

How much do you think it would be possible to get someone to work on this as a *funded* (Open Collective, grants?) gig in the future?

[2022-01-31 19:20] #71 closed

[2022-02-01 22:22] lilyball opened #77 "flake.nix should provide an overlay"
### Description

The rnix-lsp flake should provide a nixpkgs overlay that defines `rnix-lsp`, this way I can compose it into my `nixpkgs` without having to change any configuration that already uses `pkgs.rnix-lsp`. This would be done with an `overlay` output.

[2022-02-21 13:27] milogert opened #78 "Install on Mac OS fails with linker errors"
### Describe the bug

When I try to install `rnix-lsp` from either the command line or my editor (I am using Neovim with `nvim-lsp-installer`) it fails to install with linker errors.

This failure could easily be a setup issue of mine which I need to correct, but I figured this install would have hopefully "just worked" out of the box.

Let me know if I need to provide more information!

### Steps

[2022-03-12 14:46] mightyiam opened #80 "Support arbitrary formatter?"
I ran across https://github.com/kamadorueda/alejandra. I tried it. I liked it. But rnix-lsp doesn't seem to support using arbitrary formatters. So... Would this be a reasonable feature to ask?

[2022-03-22 23:00] fufexan opened #81 "Don't change file if formatting doesn't change"
### Description
I'm using the [helix editor](https://github.com/helix-editor/helix) and when formatting a file with `:format` while using `rnix-lsp`, it will replace the entire content of the file even when the formatting doesn't change.
Doing the same for a `.c/.cpp` file while using `clangd` doesn't replace the contents.

I wonder whether this is because `rnix-lsp` doesn't check whether the form

[2022-04-06 03:17] zeta-00 opened #83 "rnix-lsp is not working on m1 mac in macos:"
https://www.reddit.com/r/NixOS/comments/tthagn/rnixlsp_not_working_with_an_m1_mac_in_macos/i3jt1xi/?context=3

I'm trying to set it up with Emacs's Eglot package, but I'm not sure if I'm missing something?

Does rnix-lsp also require Eldoc-Box to be setup with Eglot?

Note: Eventually I'm going to upgrade my m1 mac to Asahi-Linux, so hopefully the upgrade will bypass the MacOS issues with rnix-lsp

[2022-04-17 00:15] marcelarie commented on #80
@mightyiam idk if you use nvim, but of you do, you can use `null-ls` for the formatting with `alejandra`. I just opened the pr today, still needs to be merged 😁 if you don't then nothing.

[2022-05-01 12:20] DieracDelta commented on #83
@zeta-00 can you provide us with a `flake.nix` that includes your emacs and `rnix` config files? What version of rnix are you using? We need more information to be helpful.

FWIW I have neovim working with rnix on my M1 mac, so I suspect this is an emacs problem. `nix run https://github.com/DieracDelta/vimconf_talk/aarch64-darwin_5_ci` should work on your computer.

[2022-05-06 08:46] 573 commented on #25
Have to reopen as I still get the OPs messages when using v0.2.4 (which is in nixos-unstable) as opposed to the better explained ones when using bump-rnix branch.

Example with bump-rnix:

[2022-05-06 08:47] 573 opened #86 "Error messages still not working in v0.2.4"
Have to reopen as I still get the OPs messages when using v0.2.4 (which is in nixos-unstable) as opposed to the better explained ones when using bump-rnix branch.

Example with bump-rnix:

_Originally posted by @573 in https://github.com/nix-community/rnix-lsp/issues/25#issuecomment-1119393412_

[2022-05-06 08:50] 573 commented on #86
Nevermind just saw [the merge](https://github.com/nix-community/rnix-lsp/pull/28) was after v0.2.4

[2022-05-06 08:50] #86 closed

[2022-05-20 00:33] mtoohey31 commented on #81
I've done some digging on this; I don't think it would take much effort to make significant improvements to the way formatting is done. From what I can tell, the current formatting implementation simply sends the entire document through `nixpkgs_fmt::reformat_node` then sends the whole thing back.

[This section](https://github.com/nix-community/nixpkgs-fmt/blob/f1e0ea288f6217a41530d7079df1c011a3c

[2022-05-20 01:23] mtoohey31 commented on #81
Ok, I've done some tinkering [here](https://github.com/mtoohey31/rnix-lsp/tree/feat/improved-format-edits) and [here](https://github.com/mtoohey31/nixpkgs-fmt/tree/feat/reformat-edits). The code is kinda messy right now and it only kind of works (it looks like some indentation changes are getting skipped so you have to reformat twice sometimes, and things occasionally get deleted), but it seems li

[2022-06-09 01:36] mtoohey31 commented on #81
Fixing those issues has turned out to be much harder than anticipated. I'm going to keep working on it at some point, but if someone else wants to take over and give it a go, I'd be happy to give some pointers.

[2022-06-09 12:44] fufexan commented on #81
I'd like to give it a go, but I don't know Rust. I might learn it this summer, but I have no chance to until July when my exams end.

[2022-06-10 04:00] mtoohey31 commented on #81
No worries, good luck with exams! I've actually finally managed to make some progress. I think I'm on the right track now, but there are still more bugs to work out.

The problem is that `nixpkgs-fmt` reformats the document with a series of two edit sets, but a language server can only respond with one set of edits to be applied in a single transaction (from my understanding of the protocol), so t

[2022-06-11 17:36] mtoohey31 commented on #81
Ok, I believe I've ironed out most of the bugs. All 77 of `nixpkgs-fmt`'s test cases are now reformatted correctly with minimal edits being applied instead of the whole document.

I'm still not entirely convinced it's bug-free though, so I'm going to use it myself for a little while before opening merge requests. I'm also not entirely sure where I should put the edit merging step (inside the `nixp

[2022-06-11 17:57] Ma27 commented on #81
I'm happy to take a look during the next days :)

[2022-06-11 19:28] mtoohey31 commented on #81
Ok, great! I'll try and get pull requests opened by tomorrow then.

[2022-06-25 15:34] symphorien commented on #78
make sure you compile inside `nix-shell -p iconv`
If you use a nix-provided compiler, then compilation must happen inside nix-shell. Installing a compiler globally with nix-env home-manager or nix-darwin will not work except in very simple cases.

[2022-07-06 10:45] jiegec opened #91 "No autocompletion with nested attribute declaration"
### Describe the bug

Example code:

[code]

It does not autocomplete `ef`.

### Steps to reproduce

Steps to reproduce the behavior:

Add the following test to `src/lookup.rs`:

[code]

It fails.

### Expected behavior

It should handle attrs like `{ cd.ef = 2; }`.

### Screenshots

The problem was found when trying to jump to declaration of `passthru.optional-dependencies.socks`:

<img width="49

[2022-07-08 15:30] milogert commented on #78
Thanks for the response here. I ended up finding my way back here accidentally just yesterday 😂 I moved rnix out of `nvim-lsp-installer` and into my nix config. At that point it successfully built.

Thanks again!

[2022-07-08 15:30] #78 closed

[2022-07-18 06:57] NobbZ opened #92 "Unable to build with current nixos-unstable (nixpkgs-unstable probably the same problem) due to nix_2_4 being removed."
### Describe the bug

When trying to build the LSP server against a recent version of `nixpkgs` an error occurs due to `nix_2_4` being removed.

### Steps to reproduce

Steps to reproduce the behavior:
1. Run `nix build github:nix-community/rnix-lsp --override-input nixpkgs github:nixos/nixpkgs/nixos-unstable`
2. see error from above "Screenshots" section

### Expected behavior

The LSP server bui

[2022-07-22 11:39] #92 closed

[2022-07-28 23:00] Lord-Valen opened #97 "Document Integration For Doom Emacs"
### Description

[Doom Emacs now has a flag for nix lsp](https://github.com/doomemacs/doomemacs/issues/6592#issuecomment-1194234477) so it should be documented in the README for Doom users.

[code]

[2022-07-29 00:55] aaronjanse commented on #97
Thanks! Would you mind making a PR?

[2022-07-29 15:01] oberblastmeister opened #98 "Unicode handling is wrong"
Our unicode handling is wrong.

https://github.com/nix-community/rnix-lsp/blob/a9f24f2c765675f7dc794328331864e0a53dcada/src/utils.rs#L59

[2022-08-16 21:25] lilyball opened #100 "rnix-lsp not keeping in sync with nixpkgs-fmt"
### Describe the bug

`nixpkgs-fmt` 1.3.0 was released 2 months ago, and nixpkgs-unstable [updated almost immediately](https://github.com/NixOS/nixpkgs/pull/178096). However rnix-lsp appears to still be using nixpkgs-fmt 1.2.0.

nixpkgs-fmt 1.3.0 produces formatting differences from 1.2.0, and this means if I have `rnix-lsp` and `nixpkgs-fmt` both installed from recent `nixpkgs-unstable`, formatti

[2022-08-21 08:30] br4ch1st0chr0n3 opened #101 "go to definition for attributes `inherit`-ed in `let ... in`"
### Description
I'd like to have `go to definition` for `bar` in
[code]

### Considered alternatives

the only alternative is to explicitly write as follows which is slightly verbose:
[code]

### Additional context

[2022-09-08 18:47] milahu commented on #41
any news? how can i help?

related:
https://github.com/nix-community/rnix-parser/issues/33
#68
[toros](https://github.com/kamadorueda/toros) - nix evaluator in rust, based on [nixel](https://github.com/kamadorueda/nixel) parser
[nix-eval-lsp](https://github.com/aaronjanse/nix-eval-lsp) - proof of concept for intellisense (autocomplete, hover)
[hazel](https://hazel.org/build/dev/) - incremental edi

[2022-10-02 20:21] nixos-discourse commented on #41
This issue has been mentioned on **NixOS Discourse**. There might be relevant details there:

https://discourse.nixos.org/t/nix-eval-js-a-nix-interpreter-in-javascript/22182/1

[2022-10-04 18:44] milahu opened #103 "autocompletion is not working in vscode: no suggestions"
### Describe the bug

vscode says "no suggestions"

autocomplete works for javascript files, so i blame rnix-lsp

### Steps to reproduce

edit this nix file

[code]

response from rnix-lsp looks ok

<details>
<summary>
jsonrpc response
</summary>

[code]

</details>

jsonrpc traffic was captured with

<details>
<summary>
rnix-lsp-wrapper.sh
</summary>

[code]

</details>

### Expected behavior

sh

[2022-10-08 21:18] nixos-discourse commented on #92
This issue has been mentioned on **NixOS Discourse**. There might be relevant details there:

https://discourse.nixos.org/t/using-nix-today-a-usability-quagmire/22323/2

[2022-10-09 08:57] milahu commented on #103
on closer look, the `textEdit` range is wrong

actual: range of `pkgs`

[code]

expected: start == end == 4:11

[code]

spec:
https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textEdit

[code]

[2022-10-24 19:16] #97 closed

[2022-10-25 07:50] Mic92 opened #107 "New maintainer?"
It seems that @aaronjanse is a short of time or motivation to review the open pull requests. Should we allow other persons to join the project as a maintainer?

[2022-10-25 21:46] aaronjanse commented on #107
That would be a good idea. I've been far too busy lately

[2022-10-26 08:19] Mic92 commented on #107
Btw there is also now https://github.com/oxalica/nil available. If project here stalls and it turns out that nil provides all features anyway, we could as well just archive this one.